<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label "役職" %>
    <%= f.radio_button :occupation, :planner %> プランナー
    <%= f.radio_button :occupation, :engineer %> エンジニア
    <%= f.radio_button :occupation, :designer %> デザイナー
  </div>

  <div class="field">
    <%= f.label "やる気" %>
    <%= f.radio_button :mochivation, :no_mochivation %> 全くやる気がない
    <%= f.radio_button :mochivation, :little_no_mochivation %> 少しやる気がない
    <%= f.radio_button :mochivation, :normal_mochivation %> 普通
    <%= f.radio_button :mochivation, :pretty_mochivation %> 少しやる気がある
    <%= f.radio_button :mochivation, :max_mochivation %> とてもやる気がある
  </div>

  <div class="field">
    <%= f.label "卒業年" %><br />
    <%= f.date_select :graduation_year, { :discard_day => true, :discard_month => true, :start_year => Date.today.year } %>
    <%# f.date_select :graduation_year, [:discord_day, :discord_month, :start_year => Date.today.year] %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
