<p id="notice"><%= notice %></p>
<html>
  <head>
    <title>このゆびとまれ</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "このゆびとまれ", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Log in", '#' %></li>
            <li><%= link_to "Log out", sign_out_path, method: :delete %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= form_with(model: Project.new, local: true, url: projects_path) do |f| %>
        <div class="field">
          <%= f.label :title %><br />
          <%= f.text_field :title, autofocus: true %>
        </div>
      
        <div class="field">
          <%= f.label :description %><br />
          <%= f.text_field :description, autofocus: true %>
        </div>
      
        <div class="actions">
          <%= f.submit "投稿" %>
        </div>
      <% end %>
      <%= render "tab_layout" %>
    </div>
  </body>
</html>
